.game-text {
    color: white;
    text-align: center;
    text-shadow: 0 0 5px white;
}

.game-action-button {
    width: 250px;
    height: 130px;
    display: block;
    border-radius: 30px;
    background: black;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    font-size: 40px;
    box-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue;
    text-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue;
}

.open-inventory-button {
    width: 100px;
    height: 50px;
    display: block;
    border-radius: 10px;
    background: black;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    font-size: 20px;
    box-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue;
    text-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue;
}

.game-body {
    background-color: black;
}

.game-container {
    align-content: center;
    border: 5px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 0 5px white, 0 0 10px white;
}

.combat-log {
    align-content: start;
    border: 5px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 0 5px white, 0 0 10px white;
}

.button-row {
    flex: 1;
    display: flex;
    justify-content: space-between; /* Equal space between buttons and edges */
    padding: 0 20px; /* Optional: space between buttons and screen edges */
}
