:root {
    --titles-font-family: Courier New, Courier, monospace;
    --main-background-colour: #12121AFF;
    --main-text-colour: #FFFFFFFF;
    --main-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --block-background-colour: #20202aFF;
    --block-text-colour: var(--main-text-colour);
    --block-border-colour: 406088FF;
    --highlight-border-colour: #80C0FFFF;
    --margin-standard: 2rem;
    --text-emphasis-blue: var(--highlight-border-colour);
    --text-emphasis-red: #FF4060;
    --zindex-per-item-base: 69420;
}





@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 16px;
    font-family: var(--main-font-family);
}





.flex {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}





.container {
    margin: var(--margin-standard);
    height: stretch;
    width: stretch;
}

.mainContainer {
    height: stretch;
    width: stretch;
    margin-bottom: var(--margin-standard);
}

.mainContainer:first-child {
    margin-right: var(--margin-standard);
}





input[type=checkbox]#inventoryCheckBox {
    display: none;
}

.inventoryContainer {
    position: fixed;
    top: 0;
    width: 70vw;
    height: 100vh;
    z-index: var(--zindex-per-item-base);
    background-color: var(--block-background-colour);
    color: var(--block-text-colour);
    transition: right ease-out 0.25s;
}

.inventoryItem {
    padding: var(--margin-standard);
}

input[type=checkbox]#inventoryCheckBox + .inventoryContainer {
    left: 100%;
}

input[type=checkbox]#inventoryCheckBox:checked + .inventoryContainer {
    right: 0;
}

input[type=checkbox]#inventoryCheckBox label.inventoryCheckBox {
    position: fixed;
    display: block;
    cursor: pointer;
    font-size: 26px;
    background-color: var(--block-background-colour);
    color: var(--text-emphasis-blue);
    padding: var(--margin-standard);
    right: 0;
    top: 0;
    height: 3.5em;
    width: 3.5em;
    text-align: center;
    border-radius: 0 0 0 var(--margin-standard);
    border: 0.25em solid var(--block-border-colour);
}

input[type=checkbox]#inventoryCheckBox + .inventoryContainer .inventoryBlockerDiv {
    display: none;
    z-index: calc(var(--zindex-per-item-base) - 1);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-colour);
    opacity: 0.3;
}

input[type=checkbox]#inventoryCheckBox:checked + .inventoryContainer .inventoryBlockerDiv {
    display: block;
}

input[type=radio] {
    display: none;
}





.title {
    font-family: var(--titles-font-family);
    color: inherit;
}

.description {
    font-family: var(--main-font-family);
    color: inherit;
}

.description:first-letter {
    font-weight: bold;
}





.map {
    background-color: var(--block-background-colour);
    width: stretch;
    height: stretch;
}

.textBox {
    width: 60%;
    height: stretch;
    text-align: center;
    border: var(--block-border-colour);
    background-color: var(--block-background-colour);
    color: var(--block-text-colour);
    font-family: var(--main-font-family);
    padding: var(--margin-standard);
    overflow-y: scroll;
}

i.emphBlue {
    color: var(--text-emphasis-blue);
    font-style: normal;
}

i.emphRed {
    color: var(--text-emphasis-red);
    font-style: normal;
}

i.emphItalic {
    font-style: italic;
}

i.emphBold {
    font-weight: bold;
}





.buttonsList {
    --buttonsList-background-colour: var(--main-background-colour);
    background-color: var(--buttonsList-background-colour);
    border: 0.25em solid var(--block-border-colour);
    height: 35%;
    width: stretch;
    padding: var(--margin-standard);
    border: 0.25rem solid var(--block-border-colour);
}

.actionBtn {
    width: 18em;
    height: 14em;
    position: relative;
    background-color: var(--block-background-colour);
    color: var(--block-text-colour);
    border: 0.25em solid var(--block-border-colour);
    transition: border-color linear 0.25s;
}

.actionBtn:before {
    position: absolute;
    left: -0.1em;
    top: -0.1em;
    content: '';
    border-top: 4.5em solid var(--block-border-colour);
    border-right: 4.5em solid transparent;
    transition: border-color linear 0.25s;
}

.actionBtn:after {
    position: absolute;
    left: -0.15em;
    top: -0.15em;
    content: '';
    border-top: 4.5em solid var(--buttonsList-background-colour);
    border-right: 4.5em solid transparent;
    transition: border-color linear 0.25s;
}

.actionBtn:hover {
    border: 0.1em solid var(--highlight-border-colour);
}

.actionBtn:hover:before {
    border-top: 4.5em solid var(--highlight-border-colour);
}
    
.actionBtn > .title {
    font-size: 10px;
}

.actionBtn > .description {
    font-size: 8px;
}





footer {
    height: 5vh;
    text-align: center;
    font-size: 10px;
    font-family: var(--titles-font-family);
    color: var(--main-text-colour);
}