:root {
    --main-background-colour: #12121AFF;
    --main-text-colour: #FFFFFFFF;
    --main-font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --titles-font-family: Courier New, Courier, monospace;
    --block-background-colour: #20202aFF;
    --block-text-colour: var(--main-text-colour);
    --block-border-colour: 406088FF;
    --highlight-border-colour: #80C0FFFF;
    --margin-standard: 2rem;
    --text-emphasis-blue: var(--highlight-border-colour);
    --text-emphasis-red: #FF4060;
}





@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

html {
    position: relative;
    min-height: 100vh;
    font-size: 16px;
}





.flex {
    display: flex;
}

.flex-horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-vertical {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}





.container {
    margin: var(--margin-standard);
}

input[type=checkbox] > label.inventoryCheckBox {
}

input[type=checkbox]:checked > label.inventoryCheckBox {
}

.mainContainer {
    height: stretch;
    width: stretch;
    margin-bottom: var(--margin-standard);
}

.mainContainer:first-child {
    margin-right: var(--margin-standard);
}





.title {
    font-family: var(--titles-font-family);
    color: inherit;
}

.description {
    font-family: var(--main-font-family);
    color: inherit;
}





.map {
    width: stretch;
    height: stretch;
}

.textBox {
    width: 60%;
    height: stretch;
    text-align: center;
    border: var(--block-border-colour);
    background: var(--block-background-colour);
    color: var(--block-text-colour);
    font-family: var(--main-font-family);
}

i.emphBlue {
    color: var(--text-emphasis-blue);
}

i.emphRed {
    color: var(--text-emphasis-red);
}





.buttonsList {
    --buttonsList-background-colour: var(--main-background-colour);
    background-color: var(--buttonsList-background-colour);
    border: 0.25em solid var(--block-border-colour);
    height: 35%;
    width: stretch;
}

.actionBtn {
    width: 32em;
    height: 24em;
    position: relative;
    border: 0.25em solid var(--block-border-colour);
    transition: border-color linear 0.25s;
}

    .actionBtn:before {
        position: absolute;
        left: -0.1em;
        top: -0.1em;
        content: '';
        border-top: 3em solid var(--block-border-colour);
        border-right: 3em solid transparent;
        transition: border-color linear 0.25s;
    }

    .actionBtn:after {
        position: absolute;
        left: -0.15em;
        top: -0.15em;
        content: '';
        border-top: 3em solid var(--buttonsList-background-colour);
        border-right: 3em solid transparent;
        transition: border-color linear 0.25s;
    }

    .actionBtn:hover {
        border: 0.1em solid var(--highlight-border-colour);
    }
    
    .actionBtn:hover:before {
        border-top: 3em solid var(--highlight-border-colour);
    }
    
    .actionBtn > .title {
        font-size: 10px;
    }

    .actionBtn > .description {
        font-size: 8px;
    }





footer {
    height: 5vh;
    text-align: center;
    font-size: 6px;
    font-family: var(--titles-font-family);
    color: var(--main-text-colour);
}