@using Backend.GameLogic.ItemImpl
@using Backend.GameLogic.EffectImpl
@Model IEffect

<div>
    <button>
        <h3 class="title">@Model.Title</h3>

        <p class="description">@Model.Description</p>
    </button>
</div>