@Model ActiveEffectModelOrSomething

<div>
    <button>
        <p class="title">
            @Model.Title
        </p>

        <p class="description">
            @Model.Description
        </p>
    </button>
</div>