@using Backend.GameLogic.Item
@using Backend.GameLogic.Effect
@Model Item

<div>
    <button>
        <h3 class="title">@Model.Effect.Title</h3>

        <p class="description">@Model.Effect.Description</p>
    </button>
</div>