@using Backend.GameLogic.Player
@using Backend.GameLogic.Item
@Model Player

<section class="buttonsList flex flex-horizontal">
    <header>
        <h3>Actions</h3>
    </header>

    @if (true /*if in combat*/) {
        @foreach (IItem action in Model.Inventory) {
            @await Html.PartialAsync("Button.cshtml", action);
        }
    }
</section>