@using Backend.GameLogic.Player
@using Backend.GameLogic.Item
@Model Player

<div>
    <label for="inventoryCheckBox" class="inventoryCheckBox">
        <p>&#9776;</p>

        <div class="inventoryBlockerDiv"></div>
    </label>

    <div class="flex flex-horizontal">
        <div>

        </div>
    </div>
</div>