<div style="display: flex">
    <div class="game-container" style="overflow-y: scroll; width: 30%">
        <ul id="InventoryList" class="game-text">
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
            <li>Item4</li>
        </ul>
    </div>
    <div class="game-container" style="width: 70%">
        <h3 class="game-text">Item Name</h3>
        <p class="game-text">Item description</p>
    </div>
</div>
