@{
    ViewData["Title"] = "Game Start";
}

<div class="text-center" style="align-content:center; border: 5px solid white">
    <p style="color:white">
        You are finally here. It has taken months of searching, more sleepless nights than you can count and more of your savings than you'd like to admit. 
        But you stand at last at the threshold of one of the dreaded Star-Tombs; twisted remnants of a long-dead civilization, one that was old when Terra was young.
        Untold riches, fame and glory awaits you inside. To explore a Star-Tomb is one of the most dangerous activities in the known universe, but you are ready.
        At least, you hope you are.
        However, despite being alone in this forgotten place, you feel eyes on you. An ancient, baleful gaze glares at you with hatred persisted through eons past.
        One thing is undeniable, you are not welcome here.
        But you have come too far, sacrificed too much, to let an angry ghost stop you.
        Not now.
        All that's left is to enter.
        Are you prepared?
    </p>
</div>
<div style="align-content:center">
    <button>Start Game</button>
</div>
