@{
    ViewData["Title"] = "Game Start";
}

<div class="game-container" style="overflow-y: scroll; height: 400px;">
    <p class="game-text">
        You are finally here. It has taken months of searching, more sleepless nights than you can count and more of your savings than you'd like to admit. But you stand at last at the threshold of one of the dreaded Star-Tombs; twisted remnants of a long-dead civilization, one that was old when Terra was young.<br /><br />
        Colossal towers of impossible size stretch infinitely above you. The walls, made from a material you cannot recognize, shimmer with a light of a color you can't quite place. As if it isn't natural to the universe.<br /><br />
        Untold riches, fame and glory await you inside, but it will not be easy. To explore a Star-Tomb is one of the most dangerous activities in the known universe. Of those who enter, few return, even fewer with their minds intact.<br /><br />
        You have heard the stories, of course you have. Tales of impossible dangers: violent copies of yourself from split-off timelines, ghosts of extinct races—not from the past, but from the future. Artificial guardians older than stars, lifeforms that defy all known laws of biology, and even the mundane peril of billions of years of decay.<br /><br />
        But you are ready.<br /><br />
        At least... You hope you are.<br /><br />
        Though you are alone in this forgotten place, you feel eyes upon you—an ancient, baleful gaze, burning with a hatred that has endured through eons. Despite the closed gate, you can hear strange sounds from inside. Sounds of a pitch that shouldn't exist, a depth no ear should detect. The cacophony is at once faint—almost imagined—and deafening, as if the tomb itself is warning you.<br /><br />
        One thing is undeniable, you are not welcome here.<br /><br />
        But you have come too far, sacrificed too much, to let an angry ghost stop you.<br /><br />
        Not now.<br /><br />
        Once you enter there is no turning back.<br />
        Are you prepared to face what waits in this cosmic graveyard?
    </p>
</div>
<form asp-controller="Game" asp-action="Start" method="post">
    <button type="submit" style="margin: 0 auto" class="game-action-button">Start Game</button>
</form>
